In [ ]:
#To do this you are tasked with:

#Creating a scatter plot that shows how the tumor volume changes over time for each treatment.
#Creating a scatter plot that shows how the number of metastatic (cancer spreading) sites changes over time for each treatment.
#Creating a scatter plot that shows the number of mice still alive through the course of treatment (Survival Rate)
#Creating a bar graph that compares the total % tumor volume change for each drug across the full 45 days.

#As final considerations:

#You must use the Pandas Library and the Jupyter Notebook.
#You must use the Matplotlib library.
#You must include a written description of three observable trends based on the data.
#You must use proper labeling of your plots, including aspects like: Plot Titles, Axes Labels, Legend Labels, X and Y Axis Limits, etc.
#Your scatter plots must include error bars. This will allow the company to account for variability between mice. You may want to look into pandas.DataFrame.sem for ideas on how to calculate this.
#Remember when making your plots to consider aesthetics!

#Your legends should not be overlaid on top of any data.
#Your bar graph should indicate tumor growth as red and tumor reduction as green.
#It should also include a label with the percentage change for each bar. You may want to consult this tutorial for relevant code snippets.

In [3]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data = "Data/mouse_drug_data.csv"
clinical_trial_data = "Data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data

# Import the books.csv file as a DataFrame
mouse_drug_df = pd.read_csv(mouse_drug_data)
clinical_trial_df = pd.read_csv(clinical_trial_data)
mouse_drug_df.head(10)
clinical_trial_df.head(10)

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0
5     h246          0                45.0                 0
6     p189          0                45.0                 0
7     n923          0                45.0                 0
8     q119          0                45.0                 0
9     f993          0                45.0                 0

In [4]:
# Combine the data into a single dataset and display the data table for preview
drug_tumor_table_df = pd.merge(mouse_drug_df,clinical_trial_df, on="Mouse ID")
drug_tumor_table_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [6]:
#Tumor Response to Treatment
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint as a dataframe as display
drug_tumor_grouped_df = drug_tumor_table_df.groupby(['Drug','Timepoint'])

drug_tumor_grouped_df.head()

     Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        f234  Stelasyn          0           45.000000                 0
1        f234  Stelasyn          5           47.313491                 0
2        f234  Stelasyn         10           47.904324                 0
3        f234  Stelasyn         15           48.735197                 1
4        f234  Stelasyn         20           51.112713                 2
5        f234  Stelasyn         25           52.178602                 2
6        f234  Stelasyn         30           56.873817                 2
7        f234  Stelasyn         35           57.748758                 2
8        x402  Stelasyn          0           45.000000                 0
9        x402  Stelasyn          5           46.327570                 1
10       x402  Stelasyn         10           46.886962                 1
11       x402  Stelasyn         15           49.119948                 1
12       x402  Stelasyn         20           50.414750                 2
13       x402  Stelasyn         25           52.431737                 2
14       x402  Stelasyn         30           54.351585                 3
15       x402  Stelasyn         35           55.240962                 3
16       x402  Stelasyn         40           56.691723                 3
17       x402  Stelasyn         45           61.619606                 3
18       a492  Stelasyn          0           45.000000                 0
19       a492  Stelasyn          5           46.409143                 0
20       a492  Stelasyn         10           48.432197                 0
21       a492  Stelasyn         15           51.985263                 0
22       a492  Stelasyn         20           53.677193                 0
23       a492  Stelasyn         25           54.701229                 1
24       a492  Stelasyn         30           56.201041                 1
25       a492  Stelasyn         35           57.308554                 1
26       a492  Stelasyn         40           57.928499                 1
27       a492  Stelasyn         45           60.122011                 1
28       w540  Stelasyn          0           45.000000                 0
29       w540  Stelasyn          5           45.885370                 1
...       ...       ...        ...                 ...               ...
1745     i477   Placebo          0           45.000000                 0
1746     i477   Placebo          5           46.657385                 0
1747     i477   Placebo         10           47.520632                 0
1748     o302   Placebo          0           45.000000                 0
1749     o302   Placebo          5           48.937012                 0
1750     o302   Placebo         10           49.701450                 0
1751     o302   Placebo         15           51.381489                 0
1752     o302   Placebo         20           56.177611                 0
1753     o302   Placebo         25           60.517103                 0
1754     o302   Placebo         30           62.030594                 1
1755     t718   Placebo          0           45.000000                 0
1756     t718   Placebo          5           45.921253                 1
1757     t718   Placebo         10           46.392688                 1
1758     t718   Placebo         15           48.085126                 1
1759     t718   Placebo         20           52.636700                 2
1760     t718   Placebo         25           55.876588                 3
1761     t718   Placebo         30           57.704114                 3
1762     t718   Placebo         35           60.463899                 3
1763     t718   Placebo         40           61.530399                 3
1764     t718   Placebo         45           63.423695                 4
1768     w167   Placebo         15           53.900489                 0
1769     w167   Placebo         20           57.548157                 0
1770     w167   Placebo         25           61.868577                 0
1771     w167   Placebo         30           67.197872                 0
1772     w167   Placebo         35           68.134288                 0
1780     x773   Placebo         35           55.192736                 4
1781     x773   Placebo         40           55.987676                 4
1782     x773   Placebo         45           58.634971                 4
1802     y478   Placebo         40           65.971120                 1
1803     y478   Placebo         45           66.842635                 1

[500 rows x 5 columns]

In [10]:
drug_tumor_sort_df = drug_tumor_table_df.sort_values(
    ["Drug", "Timepoint"])
drug_tumor_sort_df.head(25)

    Mouse ID       Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
581     b128  Capomulin          0                45.0                 0
591     r944  Capomulin          0                45.0                 0
601     s185  Capomulin          0                45.0                 0
611     w914  Capomulin          0                45.0                 0
621     l897  Capomulin          0                45.0                 0
631     b742  Capomulin          0                45.0                 0
641     f966  Capomulin          0                45.0                 0
646     u364  Capomulin          0                45.0                 0
656     j119  Capomulin          0                45.0                 0
666     l509  Capomulin          0                45.0                 0
676     m957  Capomulin          0                45.0                 0
686     g316  Capomulin          0                45.0                 0
696     r554  Capomulin          0                45.0                 0
706     g288  Capomulin          0                45.0                 0
716     y793  Capomulin          0                45.0                 0
726     i738  Capomulin          0                45.0                 0
736     s710  Capomulin          0                45.0                 0
746     i557  Capomulin          0                45.0                 0
756     v923  Capomulin          0                45.0                 0
766     x401  Capomulin          0                45.0                 0
776     m601  Capomulin          0                45.0                 0
786     w150  Capomulin          0                45.0                 0
789     t565  Capomulin          0                45.0                 0
799     r157  Capomulin          0                45.0                 0
803     j246  Capomulin          0                45.0                 0